{% extends 'base.html' %}

{% block title %}Emergency Dashboard{% endblock %}

{% block content %}
    <h1>Emergency Dashboard</h1>
    Unfortunately all emergency communications are down :(.

    <p>You can do a total reset of the web application by clicking the button below. This will reset all the rooms and puzzles to their original state.</p>

    <form action="{% url 'restart' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Reset Application</button>
    </form>
{% endblock %}
